<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" , initial-scale="1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title><%= pageTitle %></title>
</head>

<body>

  <header class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <!--Portfolio description-->
        <h1 class="title">My Task Manager</h1>
        
      </div>
    </div>
  </header>
  <!--Same nav bar as every other page-->

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="/images/taskManagerLogo.jpg" alt="brand logo">
      </a>

      <!-- Hamburger menu icon -->
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- Navbar menu -->
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/index">Home</a>
        <a class="navbar-item" href="/login">Login</a>
        <a class="navbar-item" href="/taskview">Tasks</a>
        <a class="navbar-item" href="/chat">Live Chatroom</a>
      </div>
    </div>

  </nav>