<%- include('header.ejs') %>

    <!-- Task List -->
    <div id="taskList">
      <!-- Display tasks here dynamically using JavaScript -->
    </div>


  </body>

  <%- include ('footer.ejs') %>
  <script src="/js/tasks.js"></script>

</html>